header{
    font-family: 'Pangolin';
    background-color: black;
    img{
        width: 200px;
        height: 60px;
    }
    .profile-settings{
        margin-right: 20px;
    }
    .nav-link{
        font-size: 20px;
        color: white;
    }
    .nav-link:hover{
        font-size:20px;
        color: yellow;
    }
}
body{
    width: 100%;
    height: 100%;
    .cover-container{
        font-family: 'Pangolin';
    }
    .lead{
        font-size: 22px;
    }
}
footer{
    background-color: black;
    color: white;
    font-family: 'Pangolin';
    .nav-link{
        color: white;
    }
    .nav-link:hover{
        font-size:16px;
        color: yellow;
    }
    img{
        width: 200px;
        height: 60px;
    }
    .social-medias{
        img{
            width: 30px;
            height: 30px;
        }

    }
}
html{
    background-color: black;
}