{% load HandF %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Про нас | AMITour</title>
    <link rel="stylesheet" href="{% static 'TourSite/css/styles.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Pangolin' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
{% header %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <h1>Про нас</h1>
    <h5>AmiTour — це команда професіоналів, які живуть подорожами та допомагають іншим відкривати світ. Ми створюємо індивідуальні та групові тури, підбираємо найкращі готелі, авіаквитки та маршрути, враховуючи всі побажання клієнтів.
        <br>Наша місія — зробити кожну поїздку комфортною, безпечною та сповненою яскравих вражень. Ми супроводжуємо вас на кожному етапі: від планування маршруту до повернення додому.
        <br>Ми віримо, що подорожі змінюють життя, і прагнемо, щоб кожен клієнт повертався з бажанням відкривати нові горизонти разом з AmiTour.</h5>
</div>
{% footer %}
</body>
</html>